<div class="container wall" data-ng-controller="wallCtrl as wctrl">

    <div class="row">
        <div class="col-md-8 wall-list" infinite-scroll='wctrl.Gag.nextPage()' infinite-scroll-disabled='wctrl.Gag.busy' infinite-scroll-distance='2'>

          <button id="btnWallPosting" class="btn btn-float btn-danger m-btn" data-ng-show="!wctrl.wallPostingVisible" data-ng-click="wctrl.wallPostingVisible = true;">
            <i class="zmdi zmdi-plus"></i>
          </button>
          <div class="dropdown wall-posting" data-ng-class="{ 'wall-posting-hidden': !wctrl.wallPostingVisible, 'open' : wctrl.wallPostingVisible }">
            <div class="dropdown-menu stop-propagate">

              <div class="col-sm-12 wall-posting-close">
                <a data-ng-click="wctrl.wallPostingVisible = false;" href="" title="Close" class="wall-posting-close-button pull-right">
                  <i class="zmdi zmdi-close"></i>
                </a>
              </div>

              <div class="card">
                <div class="card-body card-padding">
                  <input class="wp-text wall-posting-field" type="text" placeholder="Title..." data-ng-model="wctrl.newPost.Title" />
                  <textarea class="wp-text wall-posting-field" data-auto-size placeholder="Description..." data-ng-model="wctrl.newPost.Description"></textarea>

                  <div class="wp-media" data-ng-if="wctrl.uploader.queue.length > 0">
                    <div class="fileinput fileinput-new lightbox">
                      <div class="fileinput-preview thumbnail lightbox-item" data-ng-repeat="item in wctrl.uploader.queue" data-ng-show="wctrl.uploader.isHTML5">
                        <!--render video-->
                        <video loop autoplay width="200" height="100" data-ng-show="item._file.type=='video/mp4'">
                          <source src="{{wctrl.trustAsResourceUrl(item._file.fileURL)}}" type="{{ item._file.type }}">
                        </video>
                        <!--render image-->
                        <span ng-thumb-background="{ file: item._file, height: 100, width: 100 }"></span>
                        <button type="button" class="btn btn-default btn-icon waves-effect waves-circle waves-float" data-ng-click="item.remove()"><span class="zmdi zmdi-delete"></span></button>
                      </div>
                    </div>
                  </div>

                  <div class="wp-media" data-ng-if="wctrl.wallVideo">
                    Video Links - Coming soon...
                  </div>

                  <div class="wp-media" data-ng-if="wctrl.wallLink">
                    Links - Coming soon...
                  </div>
                </div>

                <input type="file" nv-file-select uploader="wctrl.uploader" multiple id="uploader" class="wall-uploader" accept="{{wctrl.acceptFileFormats}}" />

                <ul class="list-unstyled clearfix wpb-actions">
                  <li class="wpba-attrs">
                    <ul class="list-unstyled list-inline m-l-0 m-t-5">
                      <li><a data-wpba="image" href="" data-ng-class="{ 'active': wctrl.wallImage }" data-ng-click="wctrl.wallGif = false; wctrl.wallVideo = false; wctrl.wallLink = false; wctrl.selectFiles()"><i class="zmdi zmdi-image"></i></a></li>
                      <li><a data-wpba="gif" href="" data-ng-class="{ 'active': wctrl.wallGif }" data-ng-click="wctrl.wallImage = false; wctrl.wallVideo = false; wctrl.wallLink = false; wctrl.selectGif()"><i class="zmdi zmdi-gif"></i></a></li>
                      <li><a data-wpba="video" href="" data-ng-class="{ 'active': wctrl.wallVideo }" data-ng-click="wctrl.wallVideo= true; wctrl.wallImage = false; wctrl.wallLink = false; wctrl.wallGif = false"><i class="zmdi zmdi-play-circle"></i></a></li>
                      <li><a data-wpba="link" href="" data-ng-class="{ 'active': wctrl.wallLink }" data-ng-click="wctrl.wallLink = true; wctrl.wallImage = false; wctrl.wallGif = false; wctrl.wallVideo = false"><i class="zmdi zmdi-link"></i></a></li>
                    </ul>
                  </li>

                  <li class="pull-right"><button class="btn btn-primary btn-sm" data-ng-click="wctrl.post()">Post</button></li>
                  <li class="pull-right">
                    <button class="btn btn-warning btn-sm" style="margin-right: 15px;" data-ng-show="wctrl.uploader.queue.length > 0" data-ng-click="wctrl.clear()">Clear</button>
                  </li>
                </ul>
              </div>
            </div>
          </div>

            <div class="card" data-ng-repeat="gag in wctrl.Gag.items">
                <div class="card-header">
                    <div class="media">
                        <div class="pull-left">
                            <img class="lv-img" src="img/profile-pics/2.jpg" alt="">
                        </div>

                        <div class="media-body m-t-5">
                            <h2>{{gag.CreatedUserName}} <small>Posted on {{gag.PublishedDate | moment}}</small></h2>
                        </div>
                    </div>

                    <ul class="actions">
                        <li class="dropdown action-show" dropdown>
                            <a href="" dropdown-toggle>
                                <i class="zmdi zmdi-share"></i>
                            </a>

                            <ul class="dropdown-menu dm-icon pull-right">
                                <li>
                                    <a href="" ng-click="wctrl.postToFeed(gag)"><i class="zmdi zmdi-facebook"></i>Facebook</a>
                                </li>
                                <li>
                                    <a href=""><i class="zmdi zmdi-google"></i>Google Plus</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="card-body card-padding">
                    <h4 ng-if="gag.Title">{{gag.Title}}</h4>
                    <p ng-if="gag.Description">{{gag.Description}}</p>

                    <div class="wall-img-preview lightbox clearfix">
                        <div data-ng-repeat="image in gag.Images" on-last-repeat="lightbox" class="wip-item" ng-attr-href="{{image.Url}}">
                            <img ng-src="{{image.Url}}" alt="">
                        </div>
                    </div>

                    <ul class="wall-attrs clearfix list-inline list-unstyled">
                        <li class="wa-stats">
                            <span class="p-10 waves-effect waves-circle favorite"><i class="zmdi zmdi-favorite"></i></span><i class="count">368</i>
                            <span class="waves-effect waves-circle comment ng-class:{'active': wctrl.wallCommenting[gag.Id]}" data-ng-click="wctrl.wallCommenting[gag.Id] = !wctrl.wallCommenting[gag.Id]"><i class="zmdi zmdi-comments"></i></span><i class="count">368</i>
                        </li>

                        <li class="wa-users">
                            <a href=""><img src="img/profile-pics/1.jpg" alt=""></a>
                            <a href=""><img src="img/profile-pics/7.jpg" alt=""></a>
                            <a href=""><img src="img/profile-pics/9.jpg" alt=""></a>
                            <a href=""><img src="img/profile-pics/8.jpg" alt=""></a>
                        </li>
                    </ul>
                </div>

                <div class="wall-comment-list">

                    <!-- Comment form -->
                    <div class="wcl-form" collapse="!wctrl.wallCommenting[gag.Id]">
                        <div class="wc-comment">
                            <div class="wcc-inner">
                                <textarea class="wcci-text" data-ng-model="wctrl.wallCommentContent[gag.Id]" data-auto-size placeholder="Write Something..."></textarea>
                                <i class="zmdi zmdi-mail-send ng-class:{'active': wctrl.wallCommentContent[gag.Id].length > 10}"></i>
                            </div>
                        </div>
                    </div>

                    <!-- Comment Listing -->
                    <div class="wcl-list">
                        <div class="media">
                            <a href="" class="pull-left">
                                <img src="img/profile-pics/9.jpg" alt="" class="lv-img-sm">
                            </a>

                            <div class="media-body">
                                <a href="" class="a-title">Finn Walking</a> <small class="c-gray m-l-10">3rd July 2015</small>
                                <p class="m-t-5 m-b-0">Per conubia nostra.</p>
                            </div>

                            <ul class="actions">
                                <li class="dropdown" dropdown="">
                                    <a href="" dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                                        <i class="zmdi zmdi-more-vert"></i>
                                    </a>

                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li>
                                            <a href="">Report</a>
                                        </li>
                                        <li>
                                            <a href="">Delete</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="media">
                            <a href="" class="pull-left">
                                <img src="img/profile-pics/8.jpg" alt="" class="lv-img-sm">
                            </a>

                            <div class="media-body">
                                <a href="" class="a-title">Benn Holder</a> <small class="c-gray m-l-10">3rd July 2015</small>
                                <p class="m-t-5 m-b-0">Class aptent taciti sociosqu ad litora torquent per conubia nostra...</p>
                            </div>

                            <ul class="actions">
                                <li class="dropdown" dropdown="">
                                    <a href="" dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                                        <i class="zmdi zmdi-more-vert"></i>
                                    </a>

                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li>
                                            <a href="">Report</a>
                                        </li>
                                        <li>
                                            <a href="">Delete</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="media">
                            <a href="" class="pull-left">
                                <img src="img/profile-pics/3.jpg" alt="" class="lv-img-sm">
                            </a>

                            <div class="media-body">
                                <a href="" class="a-title">Seam Ford</a> <small class="c-gray m-l-10">3rd July 2015</small>
                                <p class="m-t-5 m-b-0">Praesent bibendum vulputate nulla vitae euismod. Fusce a metus eu ante sagittis viverra sit amet sed odio.</p>
                            </div>

                            <ul class="actions">
                                <li class="dropdown" dropdown="">
                                    <a href="" dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                                        <i class="zmdi zmdi-more-vert"></i>
                                    </a>

                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li>
                                            <a href="">Report</a>
                                        </li>
                                        <li>
                                            <a href="">Delete</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 hidden-sm">
            <div class="card">
                <div class="card-header">
                    <h2>About me</h2>
                </div>
                
                <div class="card-body card-padding">
                    Maecenas malesuada. Nam adipiscing. Etiam vitae tortor. Maecenas ullamcorper, dui et placerat feugiat, eros pede varius nisi, condimentum viverra felis nunc et lorem. <a data-ui-sref="pages.profile.profile-about"><small>Read more...</small></a>
                </div>
            </div>
            
            <div class="card picture-list">
                <div class="card-header">
                    <h2>Photos <small>Cras congue nec lorem eget posuere</small></h2>
    
                    <ul class="actions">
                        <li class="dropdown action-show" dropdown>
                            <a href="" dropdown-toggle>
                                <i class="zmdi zmdi-more-vert"></i>
                            </a>
    
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="">Refresh</a>
                                </li>
                                <li>
                                    <a href="">Manage Widgets</a>
                                </li>
                                <li>
                                    <a href="">Widgets Settings</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
    
                <div class="pl-body">
                    <div class="col-xs-3">
                        <a href="">
                            <img src="img/headers/square/1.png" alt="">
                        </a>
                    </div>
    
                    <div class="col-xs-3">
                        <a href="">
                            <img src="img/headers/square/2.png" alt="">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="">
                            <img src="img/headers/square/3.png" alt="">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="">
                            <img src="img/headers/square/4.png" alt="">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="">
                            <img src="img/headers/square/5.png" alt="">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="">
                            <img src="img/headers/square/6.png" alt="">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="">
                            <img src="img/headers/square/7.png" alt="">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="">
                            <img src="img/headers/square/8.png" alt="">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="">
                            <img src="img/headers/square/9.png" alt="">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="">
                            <img src="img/headers/square/1.png" alt="">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="">
                            <img src="img/headers/square/2.png" alt="">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="">
                            <img src="img/headers/square/3.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="card">
                <div class="card-header">
                    <h2>Contact Information <small>Fusce eget dolor id justo luctus commodo vel pharetra nisi. Donec velit libero</small></h2>
                </div>
                <div class="card-body card-padding">
                    <div class="pmo-contact">        
                        <ul>
                            <li class="ng-binding"><i class="zmdi zmdi-phone"></i> 00971123456789</li>
                            <li class="ng-binding"><i class="zmdi zmdi-email"></i> malinda.h@gmail.com</li>
                            <li class="ng-binding"><i class="zmdi zmdi-facebook-box"></i> malinda.hollaway</li>
                            <li class="ng-binding"><i class="zmdi zmdi-twitter"></i> @malinda (twitter.com/malinda)</li>
                            <li>
                                <i class="zmdi zmdi-pin"></i>
                                <address class="m-b-0 ng-binding">
                                    10098 A Towers, <br>
                                    Dubai Silicon Oasis, Dubai, <br>
                                    United Arab Emirates
                                </address>
                            </li>
                        </ul>
                    </div>
                    
                    <a class="pmo-map" href="">
                        <img src="img/demo/map.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
