﻿@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9" data-ng-app="troyCMS" data-ng-controller="troyLeeCtrl as tlcmsctrl"><![endif]-->
    <![if IE 9 ]>
<html data-ng-app="troyCMS" data-ng-controller="troyCMSCtrl as tcmsctrl">
<![endif]>

<head>
    <base href='@Url.Content("~/wwwroot/")'>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.AppName</title>
    <!-- Lazy CSS/JS -->
    <link id="app-level" href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
</head>

<body data-ng-class="{ 'sw-toggled': tlcmsctrl.layoutType === '1', 'modal-open': tlcmsctrl.sidebarToggle.left === true }">

    <data ui-view></data>

    <!-- Older IE warning message -->
    <!--[if lt IE 9]>
        <div class="ie-warning">
            <h1 class="c-white">Warning!!</h1>
            <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
            <div class="iew-container">
                <ul class="iew-download">
                    <li>
                        <a href="http://www.google.com/chrome/">
                            <img src="img/browsers/chrome.png" alt="">
                            <div>Chrome</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.mozilla.org/en-US/firefox/new/">
                            <img src="img/browsers/firefox.png" alt="">
                            <div>Firefox</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.opera.com">
                            <img src="img/browsers/opera.png" alt="">
                            <div>Opera</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.apple.com/safari/">
                            <img src="img/browsers/safari.png" alt="">
                            <div>Safari</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                            <img src="img/browsers/ie.png" alt="">
                            <div>IE (New)</div>
                        </a>
                    </li>
                </ul>
            </div>
            <p>Sorry for the inconvenience!</p>
        </div>
    <![endif]-->
    <!-- Core -->
    @Scripts.Render("~/vendors/core")

    <!-- Light Gallery -->
    @Scripts.Render("~/vendors/lightgallery")

    <!-- Angular -->
    @Scripts.Render("~/vendors/angular")

    <!-- Angular Modules -->
    @Scripts.Render("~/vendors/angular/modules")

    <!-- Common Vendors -->
    @Scripts.Render("~/vendors/common")


    <!-- Placeholder for IE9 -->
    <!--[if IE 9 ]>
        <script src="vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
    <![endif]-->
    <!-- Using below vendors in order to avoid misloading on resolve -->
    @Scripts.Render("~/vendors/misloading")


    <!-- App level -->
    @Scripts.Render("~/app")

    <script>
        function asyncCss(link) {
            var cb = function () {
                var l = document.createElement('link'); l.rel = 'stylesheet';
                l.href = link;
                var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
            };
            var raf = requestAnimationFrame || mozRequestAnimationFrame ||
                webkitRequestAnimationFrame || msRequestAnimationFrame;
            if (raf) raf(cb);
            else window.addEventListener('load', cb);
        }
    </script>

    @Styles.RenderFormat(@"<script type='text/javascript'>asyncCss('{0}')</script>", "~/vendors/css")

    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '918035008289247',
          xfbml      : true,
          version    : 'v2.5'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
     </script>
</body>
</html>

