<header id="header" data-ng-include src="'app/template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include src="'app/template/sidebar-left.html'" data-ng-class="{ 'toggled': tcmsctrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include src="'app/template/chat.html'" data-ng-class="{ 'toggled': tcmsctrl.sidebarToggle.right === true }"></aside>

    <section id="content" class="page-view" data-ui-view></section>
</section>

<footer id="footer" data-ng-include src="'app/template/footer.html'"></footer>
